@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .body{
    height: max-content;
  }

  section[id] {
    scroll-margin-top: 20px;
  }

  .button-icon {
    width: 10;
    height: 10;
  }