@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .body{
    height: max-content;
  }

  section[id] {
    scroll-margin-top: 20px;
  }

  .p-toast-image{
    margin: 4px;
  }

  .p-toast-detail{
    margin: 6px;
  }

  .p-toast-summary{
    margin: 6px;
  }